PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/mentecart?replicaSet=rs0
JWT_SECRET=mentecart_secret_key_123
JWT_EXPIRES_IN=24h

# PayHere Checkout API
PAYHERE_SANDBOX=true
PAYHERE_MERCHANT_ID=1211142
PAYHERE_MERCHANT_SECRET=replace_with_your_merchant_secret
PAYHERE_NOTIFY_URL=https://your-public-domain.com/bookings/payhere/notify
PAYHERE_RETURN_URL=https://your-frontend.com/payment/return
PAYHERE_CANCEL_URL=https://your-frontend.com/payment/cancel
PAYHERE_CURRENCY=LKR
